@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background-color: #3b4444;
    text-align: center;
    color: #e1e1e1;
    font-family: 'Montserrat', sans-serif;
}

.header {
    text-align: center;
    margin: 50px;
}

main{
    display: flex;
    justify-content: center;
}

.link {
    font-size: 28px;
    text-decoration: none;
    color: #e1e1e1;
    margin: 30px;
    padding: 20px;
    border: 3px solid #e1e1e1;
}

.link:hover {
color: #000000;
}

.link:visited {
    color: inherit;
}